.contenedorAddAlojamientos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contenedorAddAlojamientos h2 {
    font-family: 'Pacifico';
    font-weight: 100;
    font-size: 50px;
    text-shadow: 0 0 5px #ee0cd0, 0 0 10px #ee0cd0, 0 0 15px #ee0cd0;
    color: #ffffff;
}

.contenedorAddAlojamientos p {
    position: relative;
    font-family: 'Roboto';
    color: #ffffff;
    top: -20px;
}

@media screen and (max-width: 768px) {
    .contenedorAddAlojamientos h2 {
        font-size: 40px;
    }
    
    .contenedorAddAlojamientos p {
        font-size: 15px;
    }
    
    .contenedorAddAlojamientos fieldset {
        max-width: 300px;
    }
}

.contenedorForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* select {
    grid-area: select;
    width: 300px;
    font: inherit;
    border: #ffffff 2px solid;
    background-color: transparent;
    box-shadow: inset 0 0 5px #ee0cd0, 0 0 10px #ee0cd0;
    padding: .7rem 1.5rem;
    color: #ffffff;
    font-family: 'Pacifico';
}

option {
    color: #000000;
} */

.enviarForm {
    grid-area: enviar;
    margin-top: 20px;
}