.contenedorAgregarAlojamiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenedorAgregarAlojamiento input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    border: none;
}

.contenedorAgregarAlojamiento textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    min-height: 150px;
    padding: 10px;
    border: none;
}

.contenedorAgregarAlojamiento select {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    border: none;
}

.btnAgregarAlojamiento {
    margin-top: 20px;
}