.contenedorGetTipoAlojamientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.contenedorGetTipoAlojamientos h2 {
    font-family: 'Pacifico';
    font-weight: 100;
    font-size: 50px;
    text-shadow: 0 0 5px #ee0cd0, 0 0 10px #ee0cd0, 0 0 15px #ee0cd0;
}

.inputGetAlojamiento {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Roboto';
    color: #000000;
}

.btnGetAlojamiento {
    margin-top: 20px;
}

.contenedorAlojamientoInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    color: #ffffff;
    border-top: 1px solid #ee0cd0;
}

.contenedorAlojamientoInfo h3 {
    font-family: 'Pacifico';
    font-weight: 100;
    font-size: 20px;
    text-shadow: 0 0 5px #ee0cd0, 0 0 10px #ee0cd0, 0 0 15px #ee0cd0;
}

.contenedorAlojamientoInfo p {
    color: #ee0cd0;
    font-family: 'Roboto';
    font-size: 15px;
}

.contenedorAlojamientoInfo span {
    color: #ffffff;
}

.linkAdminAlojamiento {
    font-family: 'Pacifico';
    font-weight: 100;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;   
    margin-top: 10px;
    padding: 5px;
}

.btnVolver {
    background-color: transparent;
    border: none;
}

.linkAdminAlojamiento:hover {
    color: #ee0cd0;
    text-shadow: #ee0cd0 0 0 5px;
}

@media screen and (max-width: 768px) {
    .contenedorGetTipoAlojamientos h2 {
        font-size: 30px !important;
    }
    
}