.contenedorAgregarAlojamiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.contenedorAgregarAlojamiento input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    border: none;
}

.contenedorAgregarAlojamiento textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    min-height: 150px;
    padding: 10px;
    border: none;
}

.contenedorAgregarAlojamiento select {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    border: none;
}

.btnAgregarAlojamiento {
    margin-top: 20px;
}

.fieldsetServiciosAlojamiento {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    max-height: 100px;
    overflow-y: auto;
    border: none;
    background-color: #ee0cd0;
    box-shadow: #ee0cd0 0px 0px 5px, #ee0cd0 0px 0px 5px;
    flex-direction: column;
}

.serviciosAlojamientoLabel {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    max-width: 300px;
    align-items: center;
}

.serviciosAlojamientoLabel span {
    margin-left: 10px;
    font-size: 16px;
}

.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 30px;
}