.contenedorModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    color: black;
    max-width: 500px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: #020202 0 0 5px, #020202 0 0 10px, #020202 0 0 20px;
}

.modal h2 {
    font-family: 'Pacifico';
    font-weight: 100;
    font-size: 30px;
    margin-bottom: -20px;
    text-align: center;
}

.modal h3 {
    font-family: 'Pacifico';
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 30px;
}

.modal li {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 16px;
    border-bottom: rgb(231, 231, 231) 1px solid;  
    margin-left: -40px;  
}

.modal li p {
    font-size: 12px;
    color: #ee0cd0;
}

#btnCloseModal {
    position: relative;
    top: -1340px;
    right: -440px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 9999;
}

#btnCloseModal:hover {
    color: #ee0cd0;
}