.contenedorHeader {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}


.contenedorLogo {
    display: block;
    border-radius: 50px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    -webkit-box-reflect: below -80px linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0));
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo-p1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-p1 {
    margin: 0;
    font-family: 'Poetsen One';
    font-style: italic;
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0 0 5px #ee0cd0, 0 0 15px #ee0cd0, 0 0 30px #ee0cd0, 0 0 50px #ee0cd0;
}

.logo span {
    font-family: 'Poetsen One';
}

.logo ul {
    display: flex;
    margin-top: 10px;
    margin-left: -40px;
    justify-content: space-around;
    color: white;
    font-size: 20px;
    text-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white, 0 0 50px white;
}

.quesi-queno-1 {
    animation: parpadear 2s infinite backwards steps(3);
}

.quesi-queno-2 {
    animation: parpadear 1.5s infinite backwards steps(2);
}

.quesi-queno-3 {
    animation: parpadear 2.5s infinite backwards steps(4);
}

@keyframes parpadear {
    to {
        color: rgb(187, 187, 187);
        text-shadow: none;
    }

}