.cargandoCard {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 40px;
    font-family: "Pacifico";
    font-weight: 100;
    font-size: 50px;
    color: white;
}

.contenedorDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.contenedorDetailContainer h3 {
    font-family: "Pacifico";
    font-weight: 100;
}

.contenedorTituloDetail {
    text-align: center;
    padding: 10px;
}

.contenedorTituloDetail h2 {
    font-family: "Pacifico";
    font-weight: 100;
    font-size: 50px;
    text-shadow: 0 0 5px #ee0cd0, 0 0 10px #ee0cd0, 0 0 15px #ee0cd0;
}

.contenedorTituloDetail p {
    margin-top: -40px;
    font-size: 20px;
    font-family: "Roboto";
    letter-spacing: 1px;
}

.contenedorImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.contenedorImages img {
    height: 280px;
    width: 300px;
    /* height: auto;
    width: auto; */
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
}

.contenedorDetalles {
    display: flex;
    flex-direction: row;
}

h4 {
    font-family: "Pacifico";
    font-size: 30px;
    font-weight: 100;
}

.contenedorServicios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: #ee0cd0 2px solid;
    padding-right: 20px;
    width: 250px;
}

.contenedorServicios i {
    color: #ee0cd0;
    font-size: 20px;
    margin-right: 10px;
    text-shadow: #ee0cd0 0px 0px 5px;
}

.masServicios {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.masServicios a {
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-inline: 5px;
    font-family: 'Roboto';
    font-weight: bold;
}

li::marker { /* elimina color ::marker de + servicios */
    color: transparent;
}

.contenedorMasDetalles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

}

.contenedorMasDetalles span {
    color: #ee0cd0;
    text-shadow: #ee0cd0 0px 0px 5px;
}

.contenedorUbicacion {
    padding: 20px;
}

.contenedorCaracteristicas {
    padding: 20px;
}