.contenedorAddAlojamientos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contenedorAddAlojamientos h2 {
    font-family: 'Pacifico';
    font-weight: 100;
    font-size: 50px;
    text-shadow: 0 0 5px #ee0cd0, 0 0 10px #ee0cd0, 0 0 15px #ee0cd0;
    color: #ffffff;
}

.contenedorAddAlojamientos p {
    position: relative;
    font-family: 'Roboto';
    color: #ffffff;
    top: -20px;
}

@media screen and (max-width: 768px) {
    .contenedorAddAlojamientos h2 {
        font-size: 40px;
    }
    
    .contenedorAddAlojamientos p {
        font-size: 15px;
    }
    
    .contenedorAddAlojamientos fieldset {
        max-width: 300px;
    }
}

.contenedorAddAlojamientos fieldset {
    position: relative;
    padding: 20px;
    border: #ffffff 2px solid;
    box-shadow: inset 0 0 5px #ee0cd0, 0 0 10px #ee0cd0;
    max-width: 200px;
}

.contenedorAddAlojamientos legend {
    position: relative;
    font-family: 'Pacifico';
    font-weight: 100;
    color: #ffffff;
    font-size: 30px;
    text-shadow: 0 0 5px #ee0cd0, 0 0 10px #ee0cd0, 0 0 15px #ee0cd0;
    text-align: center;
}

.contenedorForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorForm .form-error {
    position: relative;
    top: 0px;
    color: #ee390c;
    text-shadow: #ee390c 0 0 5px;
}

.contenedorForm .guardarAlojamiento {
    position: relative;
    top: 30px;
}

.contenedorForm label {
    padding: 5px;
    width: max-content;
    margin: 0px auto;

    display: grid;
    grid-template-areas: "input";
    
}

.formInput {
    grid-area: input;
    width: 300px;
    font: inherit;
    border: #ffffff 2px solid;
    background-color: transparent;
    padding: .7rem 1.5rem;
    color: #ffffff;
    box-shadow: inset 0 0 5px #ee0cd0, 0 0 10px #ee0cd0;
}

span {
    font-family: 'Pacifico';
    font-weight: 100;
    color: #ffffff;
    
}

.label_name {
    grid-area: input;

    z-index: 100;
    width: max-content;
    margin-left: 1rem;
    padding: 0 .5rem;
    height: 100%;
    display: flex;
    align-items: center;

    transition: transform .2s;
    transform-origin: center left;
}


.formInput:focus + .label_name,
.formInput:not(:placeholder-shown) + .label_name {
    transform: translateY(-50%) scale(0.7);
    text-shadow: 0 0 5px #ee0cd0, 0 0 10px #ee0cd0, 0 0 15px #ee0cd0;
    background-color: transparent;
}

.formInput:focus,
.formInput:not(:placeholder-shown) {
    border-color: #ffffff;
    box-shadow: inset 0 0 5px #ee0cd0, 0 0 10px #ee0cd0;

}

select {
    grid-area: select;
    width: 300px;
    font: inherit;
    border: #ffffff 2px solid;
    background-color: transparent;
    padding: .7rem 1.5rem;
    transition: border-color 0.2s, box-shadow 0.2s;
    color: #ffffff;
    font-family: 'Pacifico';
}

option {
    color: #000000;
}

span {
    font-family: 'Pacifico';
    font-weight: 100;
    color: #ffffff;
}

.contenedorImagenesPreview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.imagenPreview {
    margin: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: #ffffff 2px solid;
}

.imagenCoverPreview {
    margin: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: #ffffff 2px solid;
}

.contenedorDatosCargados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contenedorAgregarServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: #ffffff 2px solid;
    box-shadow: inset 0 0 5px #ee0cd0, 0 0 10px #ee0cd0;
}

.contenedorCheckbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    width: 300px;
    flex-wrap: wrap;
}

.contenedorAgregarServicios i {
    color: #ee0cd0;
    font-size: 20px;
    margin-right: 10px;
    text-shadow: #ee0cd0 0px 0px 5px;
}

.servicioName {
    font-family: 'Roboto';
}

.servicioCheckbox {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.servicioNombreIcono {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}