.contenedorMenu {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    font-style: normal;
    border-bottom: 1px solid #ee0cd0;
    position: sticky;
    right: 0;
    top: 0;

    transition: background-color 0.3s ease;
}

.contenedorNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contenedorMenu.sticky {
    background: linear-gradient(to bottom, rgb(14, 14, 14), rgb(28, 1, 59));
    z-index: 1000;
    max-width: 100%;
    font-size: 10px;
    
}

.text {
    font-family: "Pacifico";
    font-size: 24px;
    font-weight: 100;
    height: 20px;
}

.contenedorMenu.sticky .btn {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: -30px;
}

.contenedorMenu.sticky .login {
    font-size: 16px;
    top: -2px;
}


.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    font-family: "Pacifico";
    font-weight: 100;
    white-space: nowrap;
}

.login {
    position: relative;
    top: -2px;
    
}

.icon {
    display: none;
}

.btn:hover {
    background: #ee0cd0;
    box-shadow: 0 0 10px #ee0cd0, 0 0 40px #ee0cd0, 0 0 80px #ee0cd0;
    transition-delay: 1s;
}

.btn span {
    position: absolute;
    display: block;
}

.span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ee0cd0);
}

.btn:hover .span1 {
    left: 100%;
    transition: 1s;
}

.span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ee0cd0);
}

.btn:hover .span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ee0cd0);
}

.btn:hover .span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ee0cd0);
}

.btn:hover .span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/* Añade estilos para el botón activo */
.btn.active {
    background: #ee0cd0;
    box-shadow: 0 0 10px #ee0cd0, 0 0 40px #ee0cd0, 0 0 80px #ee0cd0;
    transition-delay: none;
    /* Color de fondo cuando está activo */
}

.btn.active span {
    background: #fff;
    /* Color del span cuando está activo */
}


@media screen and (max-width: 768px) {
    .contenedorMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .menu ul {
        flex-direction: row;
        
    }

    .menu ul i {
        display: block;
        text-align: center;
        margin-right: -20px;
        margin-left: -20px;
    }

    .text {
        display: none;
    }

    .login {
        position: relative;
        top: -2px;
    }

    .contenedorMenu.sticky .btn {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: -30px;
    }

    .contenedorMenu.sticky .login {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: -25px;
    }
    
}