.contenedorGetAlojamientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #ffffff;
}

.contenedorGetAlojamientos h1 {
    font-family: 'Pacifico';
    font-weight: 100;
    font-size: 50px;
    text-shadow: 0 0 5px #ee0cd0, 0 0 10px #ee0cd0, 0 0 15px #ee0cd0;
    color: #ffffff;
}

.contenedorGetAlojamientos ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 250px;
}

.contenedorGetAlojamientos ul li {
    border-bottom: #ee0cd093 1px solid;
}

.contenedorGetAlojamientos .servicios {
    border-bottom: none;
}

.label {
    color: #ee0cd0;
}

.contenedorGetAlojamientos h2 {
    font-family: 'Pacifico';
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 20px;
}

.estadoDisponible {
    color: #00ff40;
}

.estadoReservado {
    color: #ff0000;
}

/* FILTRO ALOJAMIENTOS */

.contenedorFiltrosAlojamiento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contenedorFiltrosAlojamiento input, select {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    box-sizing: border-box;
    border: none;
    box-shadow:#ee0cd0 0px 0px 15px;
}